# The user's save data
data/*

# The python virtual environment
.venv/

# Byte-compiled / optimized / DLL files
__pycache__/
*.pyc
*.pyo
*.pyd

# Python package build artifacts
build/
*.egg-info/

# VS Code settings
.vscode/

# PyCharm project files
.idea/
*.iml

# Environment variables
.env

# Test and coverage files
.pytest_cache/
.coverage
htmlcov/

# Distribution files
dist/
